@import url('https://fonts.googleapis.com/css2?family=Chewy&family=Chilanka&display=swap');
body{
    background-color: #a1d9f7;
    color: #001011; 
    font-family: 'Chilanka', sans-serif;
}
h1, .navbar-brand{
    font-family: 'Chewy', sans-serif;
}

.nav-color{
    background-color: #009bf5;
}
.jb-bg{
    background-color: #d81159;
    margin-bottom: 0;
}

footer{
    width: 100%;
    height: auto;
    position: relative;
    background-color:#f1a4aa ;
}