@import url('https://fonts.googleapis.com/css2?family=Chewy&family=Chilanka&display=swap');
body{
    background-color: #a1d9f7;
    color: #001011; 
    font-family: 'Chilanka', sans-serif;
    
}
.navbar{
    z-index: 300;
}
h1, .navbar-brand{
    font-family: 'Chewy', sans-serif;
    
}

.nav-color{
    background-color: #009bf5;
}
.jb-bg{
    background-color: #d81159;
    margin-bottom: 0;
    
}
.btn{
    background-color: #fffffc;
    border: 2px solid #001011;
    font-weight: 600;
    color: #001011;
}
footer{
    width: 100%;
    height: auto;
    position: relative;
    background-color:#d81159 ;
    overflow: hidden;
    padding-bottom: 2vh;
    padding-top: 1vh;
 
}
.icons{
    float: right;
    font-size: 20px;
    color: #001011;
}
#astro{
    margin-bottom: 10px;
    animation: slideInRight; /* referring directly to the animation's @keyframe declaration */
  animation-duration: 2s;
}
#astro404{
    margin-bottom: 10px;
    animation: slideInRight; /* referring directly to the animation's @keyframe declaration */
  animation-duration: 2s;
}
.solutions{
    
    width: 150px;
    height: 60px;
    color: #001011;
    margin-right: auto;
    margin-left: auto;
    padding: 20px;
    display: inline;

    border-radius: 10%;
    clear: both;
    animation: slideInRight; /* referring directly to the animation's @keyframe declaration */
  animation-duration: 2s;
}
#opt1{
    background-color: #ffd6a5;
}
#opt2{
    background-color: #ffadad;
}
#opt3{
    background-color: #caffbf;
}
#opt4{
    background-color: #9bf6ff;
}
#question{
    margin-top: 250px;
    margin-bottom: 0;
}
#question > p{
    font-weight: 400;
    margin-top: 100px;
    font-family: 'Chewy', sans-serif;
    font-size: 30px;
}
#qImages{
    width: 100%;
    /*margin-top: 5%;*/
}
#qImages > img{
   display: block; 
  margin-left: auto;
  margin-right: auto;
  
  width: 500px;
  max-height: 400px;
  
  animation: slideInLeft; /* referring directly to the animation's @keyframe declaration */
  animation-duration: 2s;

}
#solution{
    margin: 30px;
}
.btn{
    animation: slideInRight; /* referring directly to the animation's @keyframe declaration */
  animation-duration: 2s;
}
@media only screen and (min-width: 577px) and (max-width:992px) {
     footer{
        font-family: 'Chewy', san-serif;
        font-size: 30px;
    }
}

@media only screen and (max-width: 576px) {
    footer{
        font-family: 'Chewy', san-serif;
        font-size: 30px;
        margin-top: 10px;
    }
    .icons{
        display: inline-flex;
        flex: 100%;
        line-height: 30px;
        word-spacing: 60px;
        color: #001011;
    }
    .solutions{
       height: 40px;
    width: 80px;
    font-size: 15px;
   
    padding: 0
    }
    .btn{
    display: inline;
    margin: 10px;
    font-weight: 700;
    font-size: 20px;
    }
    #qImages > img{
        width: 300px;
        margin-top: 20px;
    }
    #astro{
        width: 300px;
        position: relative;
    }
    #question > p {
    font-weight: 600;
    margin-top: 80px;
    font-size: 30px;
    margin-bottom: 0;
}
/*.options{
    width:30px;
    height: 30px;
    font-size: 18px;
}*/
}
